body{
    background: linear-gradient(45deg,rgba(112, 63, 209, 1) , rgb(171, 148, 240));
    height: 100vh;
}
.heading{
    text-align: center;
    position: relative;
    top: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-size: 40px;
    
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 30%;
    position: relative;
    top: 60px;
    left: 446px;
    padding: 32px;
    border-radius: 7px;
    background: linear-gradient(180deg,rgb(219, 65, 60) , rgb(240, 231, 148));
}
.city-name{
    border: none;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    background-color: rgb(224, 164, 164);
    color: black;

}
.city-name:focus{
    outline: none;
}
.btn{
    border: none;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    background-color: rgb(36, 154, 26);
    color: rgb(255, 255, 255);
    cursor: pointer;
}