body {
  /* background: linear-gradient(45deg,rgb(53, 220, 253) , rgb(219, 248, 251)); */
  height: 100%;
  color: #ebfffc;
  background-image: url(./image/dark-sky-clouds.jpg);
  font-family: monospace;
}
.heading {
  text-align: center;
  color: rgb(237, 252, 255);
  text-shadow: 5px 5px 10px rgb(6, 239, 251);
  font-size: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 28%;
  position: relative;
  left: 477px;
  padding: 29px 15px;
  border-radius: 7px;
  background: linear-gradient(145deg, rgb(32, 212, 170), rgb(6, 130, 164));
}
.weather-form {
  display: flex;
  justify-content: center;
}
.city-name {
  border: none;
  padding: 10px 20px;
  font-size: large;
  font-weight: 600;
  border-radius: 30px;
  background-color: #ebfffc;
  color: black;
  margin-right: 10px;
  font-family: monospace;
}
.city-name:focus {
  outline: none;
}
.btn {
  border: none;
  padding: 13px;
  border-radius: 50%;
  background-color: #ebfffc;
  cursor: pointer;
}
.weather-emoji {
  margin-top: 20px;
  width: 150px;
}
.temp-display {
  margin: 0;
  padding: 0;
  color: #ebfffc;
  font-size: 40px;
}
.city-display {
  color: #ebfffc;
  margin: 2px;
  font-size: 30px;
}
.col {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 25px;
}
.humidity-1,
.wind-1 {
  margin-top: -15px;
}
.humidity-0,
.wind {
  font-size: 20px;

  margin-top: 15px;
}
.col img {
  width: 30px;
  height: 30px;
}
.col-1 {
  display: flex;
  margin-left: 14px;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 768px) {
  body {
    font-family: monospace;
  }
  .city-name {
    font-family: monospace;
  }
  .heading {
    font-size: 30px;
  }
  .container {
    width: 84%;
    position: relative;
    left: 16px;
  }
  .city-name {
    font-size: 15px;
  }
}
